*{
  margin: 0;
  padding: 0;
}

/* /// Component size /// */
.appSize{
  width: 340px;
  height: 85vh;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.padding-5{
  padding: 5px;
}

.padding-20{
  padding: 20px;
}

.button{
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.button:hover {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.Container {
  background-color: rgb(240, 240, 240);
  overflow: scroll;
  overflow-x: hidden;
  border: solid 1px black;
}

.hideScroll{
  overflow: hidden;
}

.notesContainer {
  list-style-type: none;
  margin: 0;
  margin-top: 140px;
}

/* /////////////////// Note Functions //////////////////////// */

.noteFunctions {
  background-color: rgba(253, 253, 253, 0.9);
  box-shadow: 0px 5px 5px rgb(200, 200, 200);
  position: fixed;
  width: 325px;
  z-index: 2;
  border-bottom: solid black 1px;
}

/* /////// Refresh ////////// */

.total {
  font-weight: 900;
}

/* ///// Search ////////// */

.searchDiv input {
  width: 125px;
}

/* ///// Sorting //////// */

.sortBy {
  font-size: 20px;
  font-weight: bold;
}

/* ///// Pagination ////// */

.showItems {
  font-weight: 700;
}

.paginationButton{
  width: 37px;
}


/* /////////////////////// New Note ////////////////// */

.NewNoteWindow{
  position: absolute;
  background-color: rgba(196, 207, 207, 0.7);
  z-index: 2;
}


.form{
    width: 235px;
    height: 250px;
    padding-top: 100px;
    padding-left: 20px;
}


.formButtons button{
    margin-bottom: 20px;
}

.noteContent{
    margin-top: 10px;
}

.valid{
    color: greenyellow;
}

.invalid{
    color: red;
}


/* /////////////// Note card /////////// */

.noteContainer {
  position: relative;
  background-color: rgb(255, 255, 250);
  border-radius: 5px;
  box-shadow: 2px 2px 2px #CCC;
  padding: 5px;
  margin: 10px;
  
}

.noteContent{
  margin-left: 20px;
  margin-top: 10px;
}

.noteTitle{
  border-bottom: black solid 1px;
  margin-left: 10px;
}

.noteText{
  margin-left: 10px;
  margin-top: 5px;
}

.textWrap{
  overflow-wrap: break-word;
}

.createdData{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4px;

}


.noteContainer h5 {
  margin: 0;
}

.noteContainer a {
  text-decoration: none;
}

.noteContainer a:hover {
  color: red;
}


/* ////////////////////// update /////////////////// */

.closeButton{
 background-color: rgb(5, 255, 5);
}

.deleteButton{
  background-color: rgb(255, 5, 5);
}

.updateNoteInpute{
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}

.updatingNoteCover{
  position: absolute;
  background-color: rgba(196, 207, 207, 0.7);
  z-index: 3;
}

.z-index4-top{
  position: relative;
  z-index: 4;
  background-color: white;
  box-shadow: 10px 5px 5px #CCC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.z-index4-bottom{
  position: relative;
  z-index: 4;
  background-color: white;
  box-shadow: 10px 5px 5px #CCC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.autoresizing { 
  display: block;  
  overflow: hidden;   
  resize: none;  
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}    

