<div class="Container">

  <div class="noteFunctions">
    <div class="refresh">
      <div><button (click)="displayNotes()">Refresh</button></div>
      <div *ngIf="displayTotal" class="total"> Total Records: {{ notes.totalRecords }} </div>
      <div class="newNote" (click)="openForm()"><button>New Note</button></div>
    </div>

    <div class="searchDiv">
      <div>
        <input type="text" [(ngModel)]="sorting.searchString" id="" placeholder="Search..." (ngModelChange)="Search()">
      </div>
      <div>
        <input [(ngModel)]="sorting.searchDate" (ngModelChange)="Search()" type="date">
      </div>
    </div>
    <div class="sorting">
      <div><span>Sort by:</span></div>
      <div><button (click)="orderByTitle()">Title</button></div>
      <div><button (click)="orderByContent()">Content</button></div>
      <div><button (click)="orderByDate()">Date</button></div>
    </div>

    <div class="pagination">
      <div class="showItems">Show Items</div>
      <div class="itemsPerPage"><select [(ngModel)]="sorting.itemsPerPage" (ngModelChange)="Search()">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="paginationButtons">
        <div><button (click)="pageDown()">
            <<</button> </div> <div><button>{{ sorting.currentPage }}</button></div>
        <div><button (click)="pageUp()">>></button></div>
      </div>

    </div>
  </div>

  <div *ngIf="createNewNoteWindow">
    <div class="form">
      <!-- <h2> Form status: <span
          [ngClass]="{'valid': noteForm.form.valid,'invalid': !noteForm.form.valid}">{{ noteForm.form.valid }}</span>
      </h2> -->

      <form #noteForm="ngForm">
        <div class="noteTitle">
          <input type="text" [(ngModel)]="newNote.title" name="newNote.title" required placeholder="Title...">
        </div>
        <div class="noteContent">
          <textarea [(ngModel)]="newNote.text" name="newNote.text" cols="30" rows="8" required
            placeholder="Note content..."  ng-change="updateTextArea()"></textarea>
        </div>
      </form>

      <div class="formButtons">
        <button (click)="createNewNote()" type="submit" [disabled]="!noteForm.form.valid">Create</button>
        <button (click)="clearForm()">Clear</button>
        <button (click)="closeForm()">Close</button>
      </div>
    </div>
  </div>


  <ul class="notesConainer">   
  
   

    <li class="noteContainer" *ngFor="let note of notes.notes">
      <div (click)="openUpdate(note)" (click)="updateTextArea1()" (click)="updateTextArea2()" >
        <div *ngIf="note.id == currentNote">
          <form #noteForm="ngForm">
            <div class="noteTitle">
              <!-- <input  class="updateNoteInpute" type="text" [(ngModel)]="updatedNote.title" name="updatedNote.title"
                required placeholder="Title..."> -->
                <textarea #textareaRef1  class="updateNoteInpute autoresizing" [(ngModel)]="updatedNote.title" name="updatedNote.title" cols="30"
                rows="1" required placeholder="Title" (input)="updateTextArea1()"  ></textarea>  
            </div>
            <div class="noteContent">
              <textarea #textareaRef2  class="updateNoteInpute autoresizing" [(ngModel)]="updatedNote.text" name="updatedNote.text" cols="30"
                rows="1" required placeholder="Note content..." (input)="updateTextArea2()"  ></textarea>             
            </div>
          </form>
        </div>
        <div *ngIf="!(note.id == currentNote)">  

          <!-- <h5>ID: {{note.id}}</h5> -->
          <div class="noteTitle">
            <h5 class="textWrap"> {{note.title}}</h5>
          </div>
          <div class="noteText">
            <h5 class="textWrap"> {{note.text}}</h5>
          </div>
          <div class="createdData">
            <div>
              <h5>{{note.created | date:'dd/LL/yyyy HH:mm:ss'}}</h5>
            </div>
          </div>

        </div>

      </div>
      <div class="updateButtons" *ngIf="note.id == currentNote">
        <div>
          <button class="closeButton" (click)="closeUpadateNote()">Close</button>
        </div>
        <div>
          <button class="deleteButton" (click)="deleteNote(note.id)">Delete</button>
        </div>
      </div>
    </li>
  </ul>

</div>
