.Container {
  background-color: bisque;
  width: 340px;
  overflow: scroll;
  overflow-x: hidden;
  height: 98vh;
}

.notesConainer {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  margin-top: 120px;
}

.noteFunctions {
  position: fixed;
  width: 310px;
  margin-left: 7px;
  
}

.refresh {
  padding: 10px 10px;
  display: flex;
}

.total {
  margin-left: 10px;
  font-weight: 900;
}

.textWrap{
  overflow-wrap: break-word;
}

/* /////////////////////// New Note ////////////////// */

.newNote {
  margin-left: 10px;
}

.newNote button{
    border: solid greenyellow 2px;
    
}

.form{
    width: 325px;
    height: 98vh;
    position: fixed;
    background-color: rgba(10, 195, 219, 0.7);
}

.formButtons{
    margin-left: 20px;
}

.formButtons button{
    margin-left: 20px;
    margin-bottom: 20px;
}


.noteContent{
    margin-left: 20px;
    margin-top: 10px;
}

.valid{
    color: greenyellow;
}

.invalid{
    color: red;
}

/* /////////////////////// Search ////////////////// */

.searchDiv {
  display: flex;
}

.searchDiv div {
  margin: auto;
}

.searchDiv input {
  width: 125px;

}

/* /////////////////////// Sorting ////////////////// */
.sorting {
  display: flex;
  margin-top: 10px;
}

.sorting span {
  font-size: 20px;
  font-weight: bold;
}

.sorting div {
  margin: auto;
}

/* /////////////////////// Pagination ////////////////// */

.pagination {
  display: flex;
  margin-top: 10px;

}


.showItems {
  margin-left: 10px;
  font-weight: 700;
}

.itemsPerPage {
  margin-left: 10px;
}

.paginationButtons {
  display: flex;
  margin-left: 10px;
}

.paginationButtons div {
  margin-left: 10px;
}

.paginationButtons div button {
  width: 37px;
}

/* /////////////// Note card /////////// */

.noteContainer {
  background-color: rgba(68, 236, 17,0.7);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.noteContent{
  margin-left: 20px;
  margin-top: 10px;
}

.noteTitle{
  border-bottom: black solid 1px;
  margin-left: 10px;
}

.noteText{
  margin-left: 10px;
  margin-top: 5px;
}

.createdData{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4px;

}


.noteContainer h5 {
  margin: 0;
}

.noteContainer a {
  text-decoration: none;
}

.noteContainer a:hover {
  color: red;
}


/* ////////////////////// update /////////////////// */

.updateButtons{
  margin-left: 20px;
  display: flex;
}

.closeButton{
 background-color: rgb(5, 255, 5);
}

.deleteButton{
  margin-left: 20px;
  background-color: rgb(255, 5, 5);
}

.updateNoteInpute{
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}